packages: [
  "advanced-open-file"
  "atom-ternjs"
  "autocomplete-modules"
  "close-other-tabs"
  "cobalt2-syntax"
  "docblockr"
  "emmet"
  "git-plus"
  "guess-indent"
  "indentation-indicator"
  "language-babel"
  "linter"
  "linter-eslint"
  "mocha-test-runner"
  "package-sync"
  "php-twig"
  "set-syntax"
  "sort-lines"
  "tab-control"
]
